<% entry = horse_placed(place) %>
<% classes ||= [] %>
<div class="<%= (["row"] + classes).join(" ") %>">
  <div class="col">
    <%= horse_display(entry) %>
  </div>
  <div class="col">
    <%= number_to_currency(entry.fetch("WinPayoff", nil)) %>
  </div>
  <div class="col">
    <%= number_to_currency(entry.fetch("PlacePayoff", nil)) %>
  </div>
  <div class="col">
    <%= number_to_currency(entry.fetch("ShowPayoff", nil)) %>
  </div>
</div>
