<% if @race %>
  <div class="container">
    <div class="row justify-content-start">
      <div class="col">
        <%= dropdown_helper("Race Number", race_list_collection, {:id => "raceList"}) %>
      </div>
      <div class="col">
        Race Date: <%= @race["Date"] %>
        Surface: <%= @race["Surface"] %>
        Condition: <%= @race["TrackCondition"] %> 
      </div>
    </div>
    <div class="row">
      <div class="col">
        Race <%= @race["Number"] %>
      </div>
    </div>
    <div class="row">
      <div class="col"/>
      <div class="col">
        Win
      </div>
      <div class="col">
        Place
      </div>
      <div class="col">
        Show
      </div>
    </div>
    <% (1..3).each do |place| %>
      <%= render :partial => "placed_horse", :locals => {
        :place => place,
        :classes => place.odd? ? ["bg-light"] : []
      } %>
    <% end %>
    <div class="row" />
    <div class="row">
      <div class="col">
        Also ran: <%= also_ran_horses.map { |x| horse_display(x) }.join(", ") %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Scratched: <%= scratched_horses.map { |x| horse_display(x) }.join(", ") %>
      </div>
    </div>
  </div>
<% end %>
