<% if @race %>
  <div class="container">
    <div class="row justify-content-start">
      <div class="col">
        <%= dropdown_helper("Race Number", race_list_collection, {:id => "raceList"}) %>
      </div>
      <div class="col">
        Race Date: <%= @race["Date"] %>
        Surface: <%= @race["Surface"] %>
        Condition: <%= @race["TrackCondition"] %> 
      </div>
    </div>
    <div class="row">
      <div class="col">
        Race <%= @race["Number"] %>
      </div>
    </div>
    <div class="row">
      <div class="col"/>
      <div class="col">
        First Place
      </div>
      <div class="col">
        Second Place
      </div>
      <div class="col">
        Third Place
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= horse_placed(1).dig("Horse", "Name") %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(1).fetch("WinPayoff", 0)) %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(1).fetch("PlacePayoff", 0)) %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(1).fetch("ShowPayoff", 0)) %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= horse_placed(2).dig("Horse", "Name") %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(2).fetch("WinPayoff", 0)) %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(2).fetch("PlacePayoff", 0)) %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(2).fetch("ShowPayoff", 0)) %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= horse_placed(3).dig("Horse", "Name") %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(3).fetch("WinPayoff", 0)) %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(3).fetch("PlacePayoff", 0)) %>
      </div>
      <div class="col">
        <%= number_to_currency(horse_placed(3).fetch("ShowPayoff", 0)) %>
      </div>
    </div>
    <div class="row" />
    <div class="row">
      <div class="col">
        Also ran: <%= also_ran_horses.map { |x| x.dig("Horse", "Name") }.join(", ") %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Scratched: <%= scratched_horses.map { |x| x.dig("Horse", "Name") }.join(", ") %>
      </div>
    </div>
  </div>
<% end %>
